body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ! SECTION Hero style */

.inner-section ,.section-hero{
    height: 100vh;
    
    
}

}
.section-hero{
    
    
}
.inner-section{
    background-image: linear-gradient(rgba(27, 26, 26, 0.507),rgba(27, 26, 26, 0.507)), url(../images/hero_1.jpg);
    position: relative;
    min-height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-hero{

    height: 45vh;
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-10% 30%);
    background-color: transparent;
}

.hero-heading{

    font-weight: 600;
    font-size: 10vh;
    color: #ffffff;
}
.hero-heading::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 7px;
    left: 0;
    background-color: #fb7100;
    bottom: 0;
}
/* !SECTION Hero style */

/* ?SECTION Quotation style */



/*? !SECTION Quotation style */